html { 
    background-color: #F5F5F5;
}
body {
    margin: 0 auto;
    width: 1050px;
    padding-bottom: 170px;
    background-color : white;
}
article {
    float: left;
}
#RepresentPhoto{
    padding-left: 10px;
    width:480px;
}
#detailPhoto {
    padding-left: 10px;
    width : 720px;
    margin-top : 72px;
}
content {
    float: right;
    width: 500px;
    padding: 10px;
    overflow:hidden;
    height:auto;
}
.contentSection
{
    margin-top: 20px;
    width : 500px;   
}
#itemprice {
    font-size: 14px;
}
#price {
    
    color: #ae0000;

    font-weight : 700;
    font-size : 28px;
    letter-spacing : -.5px;
}
#priceunit {
    
    color: #ae0000;
    font-weight : 700;
    font-size : 18px;
    vertical-align :2px;
}
#priceinfo {
    margin-top : 7px;
    display: block;
    font-size: 14px;
    color: #5f0080;
    line-height: 20px;
    letter-spacing: 0;
}
hr {
    margin : 30px 0;
    size : 5px;
}
#tit {
    float: left;
    width: 150px;
    font-size: 14px;
    color: #666;
    line-height: 20px;
}
#desc {
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    word-break: break-all;

}
strong {
    font-size: 2em;
}
#list {
    margin-top: 20px;
}
#minus{
    line-height: 20px;
}
#plus {
    line-height: 20px;
}

#quantitiyInput{
    text-align: center;
    text-justify: center;
    line-height: 20px;
    width : 50px;
}
#optionName {
    font-weight : 700;
    font-size : 18px;
    vertical-align :2px;
    margin : 16px 0 8px 0;
}
#btncontent {
    margin-top: 32px;
    overflow: hidden;
    float: right;
    width: 500px;
    overflow:hidden;
    height:auto;
}
#buybtn
{
    overflow: hidden;
    float: right;
    width: 256px;
    height: 54px;
    margin-right: 12px;
    border: 1px solid #5f0080;
    border-radius: 3px;
    background: #5f0080;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    line-height: 52px;
    letter-spacing: -.1px;
    text-align: center;

}
#basketbtn {
    overflow: hidden;
    float: right;
    width: 128px;
    height: 54px;
    margin-right: 12px;
    border: 1px solid #5f0080;
    border-radius: 3px;
    background: #fff;
    font-weight: 700;
    font-size: 16px;
    color: #5f0080;
    line-height: 52px;
    letter-spacing: -.1px;
    text-align: center;

}


#main {
    margin: 32px;
    width: 900px;
    padding: 20px;
    overflow:hidden;
    text-justify: center;
    text-align: center;
    height:auto;
    clear: both;
}
#mainContent {
    margin-top : 64px;
}

/* 원래는 맥스 480 */
@media(max-width: 600px)  { 
    /* 모바일에 사용될 스트일 시트를 여기에 작성. */
    body {
        width : 400px;
        background-color: lightgreen;
     }
     container {
        width: 360px;
     }
    article {
        width: 360px;
    }
    content {
        width : 360px;
    }
}
