html
    head
        title 상품정보 화면
        style
            include temp.css
    body
        header= obj.name
        container 
            article= obj.name
            content
                ul
                    - for(var i=0; i<5; i++)
                        li coding
        footer 뭐야뭐야